<h1>Description</h1>
<hr>
<p>Add the invoice reference in the following views (list/form):</p>
<ul>
    <li>Accounting > Customers > Customer Payments</li>
    <li>Accounting > Suppliers > Supplier Payments</li>
    <li>Accounting > Journal Entries > Journal Entries</li>
    <li>Accounting > Journal Entries > Journal Vouchers</li>
</ul>
